<div class="mini-stat-card" [ngClass]="type">
  <div class="stat-highlight-icon">
    @if (shouldShowTeamBadge()) {
      <img 
        [ngSrc]="images.getRouteImageTeam(team_id!)" 
        [alt]="'Team badge'"
        width="16" 
        height="16" 
        class="team-badge"
        priority="false">
    } @else {
      {{ getIcon() }}
    }
  </div>
  <div class="stat-highlight-content">
    <span class="stat-highlight-label">{{ label }}</span>
    <span class="stat-highlight-value">{{ value }}</span>
  </div>
</div> 