<div class="container">

  @if (isMobileView && matchesContextLoaded && matchesOriginal.length > 0 && mobileFiltersExpanded) {
    <div class="row">
      <div class="col-12">
        <div class="mobile-filters-wrapper" [class.mobile-filters-wrapper--expanded]="mobileFiltersExpanded">
          <ng-container *ngTemplateOutlet="playersMobileFilters; context: { inline: false, collapsed: !mobileFiltersExpanded }" />
        </div>
      </div>
    </div>
  }

  <div class="tab-content row m-auto" id="nav-tabContent">
    <div class="tab-pane col-md-9 col-12 show d-md-block" id="nav-players" role="tabpanel">

      @if (playersLoaded && players.length > 0) {
        @if (isMobileView) {
          <app-mobile-filters-inline-row>
            <div class="matches-header players-header">
              <h3 class="matches-title players-title">{{ players.length }} players</h3>
            </div>
            <div mobileFilterToggle>
              <ng-container *ngTemplateOutlet="playersMobileFilters; context: { inline: true, collapsed: true }" />
            </div>
          </app-mobile-filters-inline-row>
        } @else {
          <div class="matches-header players-header">
            <h3 class="matches-title players-title">{{ players.length }} players</h3>
          </div>
        }

        @for (player of playersFiltered; track trackByPlayerId($index, player)) {
          <div class="playerCardAdapter">
            <app-basic-player-stat-card
              variant="row"
              [rank]="playerRank(player)"
              [playerId]="player.player_id"
              [avatarUrl]="images.getRouteImagePlayer(player.player_id)"
              [playerName]="player.player_name"
              [matchesWatched]="player.matches"
              [goals]="player.goals"
              [assists]="player.assists"
              [nationality]="player.nationality"
              [nationalityFlag]="player.nationality_flag"
              [teams]="player.teams">
            </app-basic-player-stat-card>
          </div>
        }

        <div class="paginationDiv">
          <app-pagination
            [elements]="players"
            [elementsPerPage]="10"
            [(elementsFiltered)]="playersFiltered" />
        </div>
      } @else if (playersLoaded && players.length === 0) {
        <div class="no-players-container">
          <div class="no-players-card">
            <div class="no-players-icon">
              <ng-icon name="ionFootball" size="4rem" class="football-icon"></ng-icon>
            </div>
            <h2 class="no-players-title">No players found</h2>
            <p class="no-players-description">
              Try adjusting your filters or watch more matches!
            </p>
            <div class="no-players-actions">
              <button class="reset-filters-btn" (click)="resetFilters()">
                <ng-icon name="jamSettingsAlt"></ng-icon>
                Reset Filters
              </button>
            </div>
          </div>
        </div>
      } @else if (!playersLoaded) {
        <div class="spinner">
          <mat-spinner />
        </div>
      }

    </div>

    @if (!isMobileView) {
      <div class="tab-pane col-md-3 col-12 d-md-block" id="nav-filters" role="tabpanel">
        @if (matchesContextLoaded && matchesOriginal.length > 0) {
          <app-filters-home
            [filterPanelChipSelected]="filterPanelChipSelected"
            [filterLeagueSelected]="filterLeagueSelected"
            [filterTeamSelected]="filterTeamSelected"
            [filterSeasonSelected]="filterSeasonSelected"
            [filterLocationSelected]="filterLocationSelected"
            [seasons]="seasonsFiltered"
            [locations]="locationsFiltered"
            [leaguesViewed]="leaguesFiltered"
            [leaguesLoaded]="leaguesLoaded"
            [teamsViewed]="teamsFiltered"
            [teamsLoaded]="statsLoaded"
            [enableTeamsSearch]="true"
            [showTeams]="true"
            [showTeamAgainst]="true"
            [showOrder]="false"
            [filterTeamAgainstSelected]="filterTeamAgainstSelected"
            [teamsAgainstViewed]="teamsAgainstViewed"
            [teamsAgainstLoaded]="teamsAgainstLoaded"
            (filterPanelChipSelectedChange)="changeFilterPanelChipSelected($event)"
            (filterLeagueSelectedChange)="changeFilterLeagueSelected($event)"
            (filterTeamSelectedChange)="changeFilterTeamSelected($event)"
            (filterTeamAgainstSelectedChange)="changeFilterTeamAgainstSelected($event)"
            (filterSeasonSelectedChange)="changeFilterSeasonSelected($event)"
            (filterLocationSelectedChange)="changeFilterLocationSelected($event)"
            (resetFiltersChange)="resetFilters()">
          </app-filters-home>
        }
      </div>
    }
  </div>

  <ng-template #playersMobileFilters let-inline="inline" let-collapsed="collapsed">
    <app-filters-home
      class="mobile-filters-panel"
      [class.mobile-filters-inline]="inline"
      [filterPanelChipSelected]="filterPanelChipSelected"
      [filterLeagueSelected]="filterLeagueSelected"
      [filterTeamSelected]="filterTeamSelected"
      [filterSeasonSelected]="filterSeasonSelected"
      [filterLocationSelected]="filterLocationSelected"
      [seasons]="seasonsFiltered"
      [locations]="locationsFiltered"
      [leaguesViewed]="leaguesFiltered"
      [leaguesLoaded]="leaguesLoaded"
      [teamsViewed]="teamsFiltered"
      [teamsLoaded]="statsLoaded"
      [enableTeamsSearch]="true"
      [showTeams]="true"
      [showTeamAgainst]="true"
      [showOrder]="false"
      [filterTeamAgainstSelected]="filterTeamAgainstSelected"
      [teamsAgainstViewed]="teamsAgainstViewed"
      [teamsAgainstLoaded]="teamsAgainstLoaded"
      [collapsed]="collapsed"
      [iconOnlyCollapsed]="true"
      (collapseToggle)="toggleMobileFilters()"
      (filterPanelChipSelectedChange)="changeFilterPanelChipSelected($event)"
      (filterLeagueSelectedChange)="changeFilterLeagueSelected($event)"
      (filterTeamSelectedChange)="changeFilterTeamSelected($event)"
      (filterTeamAgainstSelectedChange)="changeFilterTeamAgainstSelected($event)"
      (filterSeasonSelectedChange)="changeFilterSeasonSelected($event)"
      (filterLocationSelectedChange)="changeFilterLocationSelected($event)"
      (resetFiltersChange)="resetFilters()">
    </app-filters-home>
  </ng-template>

</div>
