<div class="container">
	
	<!-- Season select form in Top Leagues view -->
	<form class="formLeagues">
		<mat-form-field class="fullWidth">
			<mat-label>Season</mat-label>
			<mat-select name="seasonSelect" [(ngModel)]="selectedSeason" (selectionChange)="getTeamsBySeason(selectedSeason)">
				@for (season of seasonsFiltered; track $index) {
					<mat-option [value]="season">{{season.text}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</form>
	
	<!-- Grid list of the leagues and the teams -->
	<div class="row row-cols-lg-5 row-cols-md-4 row-cols-3">
		@for (league of leagues; track $index) {
		<div class="col gridLeague">
			<div class="cardLeague" (click)="getTeamsByLeague(league)"
				[ngClass]="{'cardLeagueSelected': selectedLeague && selectedLeague.league.id === league.league.id}">
				<img class="img-fluid p-1 imgLeague" [src]="images.getRouteImageLeagueSm(league.league.id)">
			</div>
		</div>
		}
	</div>

	<hr class="hr hr-blurry" />

	<div class="row">
		@for (team of teams; track $index) {
		<div class="gridTeam">
			<a (click)="selectTeam(team)" class="nav-link m-auto w-100 h-100 d-flex" routerLink="/team" [queryParams]="{id: team.team.id, season: selectedSeason.id}" routerLinkActive="active" ariaCurrentWhenActive="page">
				<div class="cardTeam">
					<div class="divImgTeam d-flex">
						<img class="img-fluid p-1 imgTeam" [src]="images.getRouteImageTeam(team.team.id)">
					</div>
					
					<div class="text-center d-flex divNameTeam">
						<p class="text-muted mt-2">{{team.team.name}}</p>
					</div>
					
				</div>
			</a>
		</div>
		}
	</div>
</div>