<div class="container">
	
	<!-- Season select form in Top Leagues view -->
	<form class="formLeagues">
		<mat-form-field class="fullWidth">
			<mat-label>Season</mat-label>
			<mat-select name="seasonSelect" [(ngModel)]="selectedSeason" (selectionChange)="getTeamsBySeason(selectedSeason)">
				@for (season of seasonsFiltered; track $index) {
					<mat-option [value]="season">{{season.text}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</form>

	<!-- Selected league - Absolute position -->
	 @if (selectedLeague) {
		<div class="cardLeagueSelected" (click)="selectLeague(selectedLeague)">
			<img class="img-fluid p-1 imgLeague" [src]="images.getRouteImageLeagueSm(selectedLeague.league.id)">
		</div>
	} @else {
		<!-- Grid list of the leagues and the teams -->
		<div class="row row-cols-lg-5 row-cols-md-4 row-cols-3">
			@for (league of leagues; track $index) {
			<div class="col gridLeague">
				<div class="cardLeague" (click)="selectLeague(league)">
					<img class="img-fluid p-1 imgLeague" [src]="images.getRouteImageLeagueSm(league.league.id)">
				</div>
			</div>
			}
		</div>
	}
	
	@if (selectedLeague) {
		<div class="row">
			@for (team of teams; track $index) {
			<div class="gridTeam">
				<a (click)="selectTeam(team)" class="nav-link m-auto w-100 h-100 d-flex" routerLink="/team" [queryParams]="{id: team.team.id, season: selectedSeason.id}" routerLinkActive="active" ariaCurrentWhenActive="page">
					<div class="cardTeam">
						<div class="divImgTeam d-flex">
							<img class="img-fluid p-1 imgTeam" [src]="images.getRouteImageTeam(team.team.id)">
						</div>
						
						<div class="text-center d-flex divNameTeam">
							<p class="text-muted mt-2">{{team.team.name}}</p>
						</div>
						
					</div>
				</a>
			</div>
			}
		</div>

		<hr class="hr hr-blurry" />

		<div class="row">
			<div class="text-center d-flex">
				@if (groupedRealMatches.length > 0 && groupedRealMatches[selectedRound][0]) {
					<h2 class="arrowRound" (click)="changeRound(-1)">&laquo;</h2>
					<h2 class="m-auto"><u>{{groupedRealMatches[selectedRound][0].league.round}}</u></h2>
					<h2 class="arrowRound" (click)="changeRound(1)">&raquo;</h2>
				}
			</div>

			<div class="col-12 col-lg-6">
				@for (match of filterHalfRealMatches(groupedRealMatches[selectedRound], 0); track $index) {
					<div class="matchCardAdapter matchCardAdapterTwoColumns">
						<app-real-match-card [match]="matchParser.realMatchToMatch(match, findRealMatchInMatches(match.fixture.id))"
						[watched]="findRealMatchInMatches(match.fixture.id) !== undefined"
						[locations]="locations"></app-real-match-card>
					</div>
				}
			</div>
			<div class="col-12 col-lg-6">
				@for (match of filterHalfRealMatches(groupedRealMatches[selectedRound], 1); track $index) {
					<div class="matchCardAdapter matchCardAdapterTwoColumns">
						<app-real-match-card [match]="matchParser.realMatchToMatch(match, findRealMatchInMatches(match.fixture.id))"
						[watched]="findRealMatchInMatches(match.fixture.id) !== undefined"
						[locations]="locations"></app-real-match-card>
					</div>
				}
			</div>
		</div>

	}
</div>
