@media only screen and (max-width: 768px) {
  .matchCard {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .matchCard {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .matchCard {
    width: 50%;
  }
}

::ng-deep :root {
	--color-predefined-border: #dcdcdc;

	--color-segunda-division: #00d4d6;
	--color-segunda-division-trans: rgba(0, 212, 214, 0.9);

	--color-primera-division: #e94d4a;
	--color-primera-division-trans: rgba(233, 77, 74, 0.9);

	--color-premier-league: #3d185c;
	--color-premier-league-trans: rgba(61, 24, 92, 0.9);
	
	--color-champions-league: #3562A6;
	--color-champions-league-trans: rgba(53, 98, 166, 0.9);
	
	--color-europa-league: #fc6c04;
	--color-europa-league-trans: rgba(252, 108, 4, 0.9);
	
	--color-bundesliga: #d10214;
	--color-bundesliga-trans: rgba(209, 2, 20, 0.9);
	
	--color-ligue1: #091C3E;
	--color-ligue1-trans: rgba(9, 28, 62, 0.9);
	
	--color-seriea: #0578ff;
	--color-seriea-trans: rgba(5, 120, 255, 0.9);
	
	--color-copa-rey: #ff032e;
	--color-copa-rey-trans: rgba(255, 3, 46, 0.9);
	
	--color-fa-cup: #be3434;
	--color-fa-cup-trans: rgba(190, 52, 52, 0.9);

	--color-spanish-supercup: #ff2701;
	--color-spanish-supercup-trans: rgba(255, 39, 1, 0.9);

	--color-uefa-supercup: #ccd2e5;
	--color-uefa-supercup-trans: rgba(204, 210, 229, 0.9);

	--color-conference-league: #00bf0c;
	--color-conference-league-trans: rgba(0, 191, 12, 0.9);

	--color-world-cup: 	#ffbf00;
	--color-world-cup-trans: rgba(255, 191, 0, 0.9);

	--color-euro-cup: #d4e7f0;
	--color-euro-cup-trans: rgba(212, 231, 240, 0.9);

	--color-none: #000000;
	--color-none-trans: rgba(0, 0, 0, 0.9);
}

.generalMatchCard {
	position: relative;
  height: 25vh;
  transition: 0.2s;
}

.matchCard {
	margin: 1% auto;
  height: 25vh;
	overflow: hidden;
	border: 2px solid var(--color-predefined-border);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(48,48,48, 0.1), 0 4px 4px 0 rgba(48,48,48, 0.1);
  background-color: white;
  transition: 0.2s;
}

.matchCard:hover {
  background-color: #FFDAB9;
	height: 35vh;
  transition: 0.2s;

	.generalMatchCard {
		height: 29vh;
		transition: 0.2s;
	}

	.infoMatchCard {
		height: 6vh;
		transition: 0.2s;
	}

	.location-selector-row {
		opacity: 1;
		transition: 0.05s;
	}
}

.matchCard.SegundaDivision {
	border: 3px solid var(--color-segunda-division);
	box-shadow: 0 0 4px 2px var(--color-segunda-division-trans), 0 4px 4px 0 var(--color-segunda-division-trans);
}

.matchCard.PrimeraDivision {
	border: 2px solid var(--color-primera-division);
	box-shadow: 0 0 4px 2px var(--color-primera-division-trans), 0 4px 4px 0 var(--color-primera-division-trans);
}

.matchCard.PremierLeague {
	border: 2px solid var(--color-premier-league);
	box-shadow: 0 0 4px 2px var(--color-premier-league-trans), 0 4px 4px 0 var(--color-premier-league-trans);
}

.matchCard.ChampionsLeague {
	border: 2px solid var(--color-champions-league);
	box-shadow: 0 0 4px 2px var(--color-champions-league-trans), 0 4px 4px 0 var(--color-champions-league-trans);
}

.matchCard.EuropaLeague {
	border: 2px solid var(--color-europa-league);
	box-shadow: 0 0 4px 2px var(--color-europa-league-trans), 0 4px 4px 0 var(--color-europa-league-trans);
}

.matchCard.Bundesliga {
	border: 2px solid var(--color-bundesliga);
	box-shadow: 0 0 4px 2px var(--color-bundesliga-trans), 0 4px 4px 0 var(--color-bundesliga-trans);
}

.matchCard.Ligue1 {
	border: 2px solid var(--color-ligue1);
	box-shadow: 0 0 4px 2px var(--color-ligue1-trans), 0 4px 4px 0 var(--color-ligue1-trans);
}

.matchCard.SerieA {
	border: 2px solid var(--color-seriea);
	box-shadow: 0 0 4px 2px var(--color-seriea-trans), 0 4px 4px 0 var(--color-seriea-trans);
}

.matchCard.CopaDelRey {
	border: 2px solid var(--color-copa-rey);
	box-shadow: 0 0 4px 2px var(--color-copa-rey-trans), 0 4px 4px 0 var(--color-copa-rey-trans);
}

.matchCard.FaCup {
	border: 2px solid var(--color-fa-cup);
	box-shadow: 0 0 4px 2px var(--color-fa-cup-trans), 0 4px 4px 0 var(--color-fa-cup-trans);
}

.matchCard.SpanishSupercup {
	border: 2px solid var(--color-spanish-supercup);
	box-shadow: 0 0 4px 2px var(--color-spanish-supercup-trans), 0 4px 4px 0 var(--color-spanish-supercup-trans);
}

.matchCard.UefaSupercup {
	border: 2px solid var(--color-uefa-supercup);
	box-shadow: 0 0 4px 2px var(--color-uefa-supercup-trans), 0 4px 4px 0 var(--color-uefa-supercup-trans);
}

.matchCard.ConferenceLeague {
	border: 2px solid var(--color-conference-league);
	box-shadow: 0 0 4px 2px var(--color-conference-league-trans), 0 4px 4px 0 var(--color-conference-league-trans);
}

.matchCard.WorldCup {
	border: 2px solid var(--color-world-cup);
	box-shadow: 0 0 4px 2px var(--color-world-cup-trans), 0 4px 4px 0 var(--color-world-cup-trans);
}

.matchCard.EuroCup {
	border: 2px solid var(--color-euro-cup);
	box-shadow: 0 0 4px 2px var(--color-euro-cup-trans), 0 4px 4px 0 var(--color-euro-cup-trans);
}

.matchCard.None {
	border: 2px solid var(--color-none);
	box-shadow: 0 0 4px 2px var(--color-none-trans), 0 4px 4px 0 var(--color-none-trans);
}

.infoMatchCard {
  height: 0vh;
	box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0px 4px 4px 1px rgba(48, 48, 48, 0.1);
	backdrop-filter: blur(3px);
  transition: 0.2s;
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teamLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px #f3f5f9;
}

.teamLogo.SegundaDivision {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-segunda-division-trans);
}

.teamLogo.PrimeraDivision {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-primera-division-trans);
}

.teamLogo.PremierLeague {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-premier-league-trans);
}

.teamLogo.ChampionsLeague {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-champions-league-trans);
}

.teamLogo.EuropaLeague {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-europa-league-trans);
}

.teamLogo.Bundesliga {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-bundesliga-trans);
}

.teamLogo.Ligue1 {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-ligue1-trans);
}

.teamLogo.SerieA {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-seriea-trans);
}

.teamLogo.CopaDelRey {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-copa-rey-trans);
}

.teamLogo.FaCup {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-fa-cup-trans);
}

.teamLogo.SpanishSupercup {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-spanish-supercup-trans);
}

.teamLogo.UefaSupercup {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-uefa-supercup-trans);
}

.teamLogo.ConferenceLeague {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-conference-league-trans);
}

.teamLogo.WorldCup {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-world-cup-trans);
}

.teamLogo.EuroCup {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-euro-cup-trans);
}

.teamLogo.None {
	box-shadow: 0 4px 4px 0 rgba(48,48,48, 0.15), 0 0 0 10px var(--color-none-trans);
}

.imgLogo {
  width: 80%;
  height: 80%;
	object-fit: contain;
  display: flex;
  margin: auto;
}

.imgLeagueBack {
  height: 125%;
  opacity: 0.4;
}

.imgLeagueBackWatched {
  opacity: 0.75;
}

.infoCard {
  background-color: #FFE4E1;
}

.match-score {
	margin: auto auto 0;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 7px 14px;
	background: rgba(220, 220, 220, 0.5);
	box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0px 4px 4px 1px rgba(48, 48, 48, 0.1);
	backdrop-filter: blur(3px);
}

.match-score-number {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1;
}

.leading {
	color: #623ce6;
}

.match-score-divider {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1;
	color: #8f8f8f;
	margin-left: 10px;
	margin-right: 10px;
}

.match-info {
	margin: auto;
	text-align: center;
	border-radius: 10px;

	.text {
		font-size: 1rem;
		font-weight: 600;
		line-height: 1;
	}

	.text-sm {
		font-size: 0.8rem;
	}
}

.match-eye-button {
	margin: auto;
	text-align: center;
	border-radius: 10px;
	padding: 2px 6px;
	background: rgba(220, 220, 220, 0.5);
	box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0px 4px 4px 1px rgba(48, 48, 48, 0.1);
	backdrop-filter: blur(3px);
	cursor: pointer;
}

.match-eye-button-unwatched {
	color: lightslategray;
}

.match-eye-button-unwatched:hover {
	color: darkslategray;
}

.location-selector-row {
	opacity: 0;
	transition: 0.05s;
	width: fit-content; 
	margin: 8% auto auto;
}

.location-selector {
	margin: auto;
	text-align: center;
	border-radius: 10px;
	padding: 2px 6px;
	background: rgba(220, 220, 220, 0.5);
	box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0px 4px 4px 1px rgba(48, 48, 48, 0.1);
	backdrop-filter: blur(3px);
	cursor: pointer;
}