<div class="row matchCard" [ngClass]="[leagueCSSSelector(match.league.id), size === 'md' ? 'matchCardMd' : '']" [class.expanded]="isCardExpanded">
  <div class="generalMatchCard" [ngClass]="{'generalMatchCardMd': size === 'md'}">

    <div class="live-indicator" *ngIf="isLive()">
      <div class="circle"></div>
    </div>

    <div class="position-absolute top-50 start-50 translate-middle divImgLeague" [ngClass]="{'divImgLeagueMd' : size === 'md'}">
      <div class="position-relative h-100">
        <img class="position-absolute start-50 translate-middle imgLeagueBack p-1" 
        [ngClass]="{'imgLeagueBackWatched': watched}" style="top: 55%" [src]="images.getRouteImageLeagueBack(match.league.id)"
        alt="error-img" (error)="this.getDefaultLeagueImg($any($event))">
      </div>
    </div>

    <div class="col-12 h-100">
      <div class="row h-100">

        <div class="col-4 h-100 z-1">
          <div class="teamLogoSection">

            <div class="team h-100" [style.cursor]="interactable ? 'pointer' : 'default'" [class.clickable]="interactable" (click)="handleTeamClick(match.teams.home.id, $event)">
              <div class="teamLogo h-100" [ngClass]="leagueCSSSelector(match.league.id)">
                <img class="imgLogo p-1" [src]="images.getRouteImageTeam(match.teams.home.id)">
              </div>
            </div>

          </div>
          <div class="text-center">
            <h2 class="m-auto team-name" [ngClass]="{'team-name-md': size === 'md'}" [style.cursor]="interactable ? 'pointer' : 'default'" [class.clickable]="interactable" (click)="handleTeamClick(match.teams.home.id, $event)">{{match.teams.home.name}}</h2>
          </div>
        </div>

        <div class="col-4 h-100 z-1" [ngClass]="{'center-score-column': !interactable}">

          @if (interactable) {
            <div class="button-row">
                <div class="match-eye-button" [ngClass]="{'match-eye-button-unwatched': !watched}" (click)="createMatch()">
                  @if (watched) {
                    <ng-icon name="jamEyeF"></ng-icon>
                  } @else {
                    <ng-icon name="jamEyeCloseF"></ng-icon>
                  }
                </div>
                <div class="match-info-button" (click)="navigateToMatchInfo()">
                  <ng-icon name="jamInfoF"></ng-icon>
                </div>
            </div>
          }

          <div class="row" style="width: fit-content; margin:auto;">
            <div class="match-score">
              <span class="match-score-number" [ngClass]="{'match-score-number-md': size === 'md', 'leading': match.goals.home > match.goals.away}">{{match.goals.home}}</span>
              <span class="match-score-divider">:</span>
              <span class="match-score-number" [ngClass]="{'match-score-number-md': size === 'md', 'leading': match.goals.home < match.goals.away}">{{match.goals.away}}</span>
            </div>
          </div>

          @if (interactable && watched) {
            <div class="row" class="location-selector-row">
              <div class="location-selector">
                <mat-select name="locationSelect" class="location-mat-select" panelWidth="null" [(ngModel)]="match.location" 
                  (selectionChange)="setLocation(match.fixture.id, $event.value)">
                  @if (match.venue && match.venue.id) {
                    <mat-option [value]="getLocationIdFromVenueId(match.venue.id)">
                      <span>🏟️ {{match.venue.name}}</span>
                    </mat-option>
                  }
                  @for (location of getLocationList(); track $index) {
                    <mat-option [value]="location.id">
                      <span>{{location.name}}</span>
                    </mat-option>
                  }
                </mat-select>
              </div>
            </div>
          }

        </div>

        <div class="col-4 h-100 z-1">
          
          <div class="teamLogoSection">

            <div class="team h-100" [style.cursor]="interactable ? 'pointer' : 'default'" [class.clickable]="interactable" (click)="handleTeamClick(match.teams.away.id, $event)">
              <div class="teamLogo h-100" [ngClass]="leagueCSSSelector(match.league.id)">
                <img class="imgLogo p-1" [src]="images.getRouteImageTeam(match.teams.away.id)">
              </div>
            </div>

          </div>
          <div class="text-center">
            <h2 class="m-auto team-name" [ngClass]="{'team-name-md': size === 'md'}" [style.cursor]="interactable ? 'pointer' : 'default'" [class.clickable]="interactable" (click)="handleTeamClick(match.teams.away.id, $event)">{{match.teams.away.name}}</h2>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="infoMatchCard">

    <div class="row h-100">
      <div class="col-4 match-info" [ngClass]="{'match-info-md': size === 'md'}">
        <span class="text">{{parseRoundName(match.league.round)}}</span>
      </div>

      <div class="col-3 match-info" [ngClass]="{'match-info-md': size === 'md'}">
        <span class="text">{{match.league.season}}/{{match.league.season + 1}}</span>
      </div>

      <div class="col-3 match-info" [ngClass]="{'match-info-md': size === 'md'}">
        <span class="text">{{getDate(match.fixture.timestamp)}}</span>
      </div>

      <div class="col-2 match-info" [ngClass]="{'match-info-md': size === 'md'}">
        <span class="text">{{getTime(match.fixture.timestamp)}}</span>
      </div>

    </div>
  </div>

</div>