<!--
  Footer Component. Includes:
  - Social links in the center (GitHub for now)
  - MegaGera 2025 signature on the right
-->
<footer class="footer">
  <div class="footer-container">
    <div class="left-section">
      <!-- Empty for now, can be used for other content later -->
    </div>
    
    <div class="center-section">
      <!-- Social Links -->
      <div class="social-links">
        <a class="social-button" href="https://github.com/MegaGera/MegaGoal" target="_blank" title="View on GitHub">
          <ng-icon class="social-icon" name="jamGithub"></ng-icon>
        </a>
        <!-- More social links can be added here later -->
      </div>
    </div>
    
    <div class="right-section">
      <span class="signature">MegaGera 2025</span>
    </div>
  </div>
</footer>
