<!--
  Top Menu Bar Component. Includes:
  - Button to go to Home Component
  - Button to go to Leagues Component
-->
<div class="topMenu">
    <div class="row topMenuRow">
        <div class="col menuButton">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
                <h1 class="buttonText">Home</h1>
            </a>
        </div>
        <div class="col menuButton">
            <a class="nav-link" routerLink="/leagues" routerLinkActive="active" ariaCurrentWhenActive="page">
                <h1 class="buttonText">Leagues</h1>
            </a>
        </div>
        <!-- User button -->
        <div class="userButton">
            <ng-icon class="userIcon" name="jamUserCircle"></ng-icon>
            <div class="userPanel">
                <div class="col userPanelButton">
                    <a class="nav-link" routerLink="/locations" routerLinkActive="active">
                        <h3 class="buttonText">Locations</h3>
                    </a>
                </div>
                <div class="col userPanelButton">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">
                        <h3 class="buttonText">Admin</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

