<div class="admin-container">
  <section class="fade-in">
    <div class="admin-header-row" style="margin-bottom: 12px; display: flex; gap: 12px; align-items: center;">
      <select class="form-select form-select-sm view-select" style="width: 220px;" [(ngModel)]="selectedAdminView">
        <option [ngValue]="'leagues'">Leagues Administration</option>
        <option [ngValue]="'matches'">Matches Administration</option>
        <option [ngValue]="'players'">Players Administration</option>
        <option [ngValue]="'feedback'">Feedback Administration</option>
        <option [ngValue]="'users'">Users Statistics</option>
      </select>
    </div>
    
    @if (selectedAdminView === 'leagues') {
      <app-admin-leagues></app-admin-leagues>
    } @else if (selectedAdminView === 'matches') {
      <app-admin-matches></app-admin-matches>
    } @else if (selectedAdminView === 'players') {
      <app-admin-players></app-admin-players>
    } @else if (selectedAdminView === 'feedback') {
      <app-admin-feedback></app-admin-feedback>
    } @else if (selectedAdminView === 'users') {
      <app-admin-users></app-admin-users>
    }
  </section>
</div>