.tableLeaguesSettings {
  margin: 5%;
  background-color: transparent;
}

th, td {
  background-color: inherit;
}

.inactive {
  background-color: #f8d7da;
}

.daily_update {
  background-color: #ffcc00;
}