
@if (team !== undefined) {
  <div class="container">
    <div class="row">

      <!-- Stadium information column -->
      <div class="col-3 informationColumn">
        <div class="text-center">
          <h2 class="m-auto"><u>Stats</u></h2>
          <h3 class="m-auto">Total views:</h3>
        </div>
      </div>

      <!-- Team main information column -->
      <div class="col-6 centralTeamInformation">
        <div class="row">
          <img class="teamImage" [src]="images.getRouteImageTeam(team.team.id)">
        </div>
        <div class="row text-center">
          <h1 class="teamNameText">{{team.team.name}}</h1>
        </div>
        <div class="row text-center">
          <table class="informationTable">
            <tr>
              <th class="tableCol" scope="col">Code</th>
              <th class="tableCol" scope="col">Country</th>
              <th class="tableCol">City</th>
              <th class="tableCol">Founded</th>
              <th class="tableCol">Stadium</th>
            </tr>
            <tr>
              <td>{{team.team.code}}</td>
              <td>{{team.team.country}}</td>
              <td>{{team.venue.city}}</td>
              <td>{{team.team.founded}}</td>
              <td>{{team.venue.name}}</td>
            </tr>
          </table>
        </div>

        <div class="row mt-4 text-center">
          <form class="formLeagues">
            <mat-form-field class="w-100">
              <mat-label>Season</mat-label>
              <mat-select name="seasonSelect" [(ngModel)]="selectedSeason" (selectionChange)="selectSeason(selectedSeason)">
                @for (season of seasons; track $index) {
                  <mat-option [value]="season">{{season.text}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </form>
        </div>

      </div>

      <!-- Competitions information column -->
      <div class="col-3 informationColumn">
        <div class="text-center">
          <h2 class="m-auto"><u>Competitions</u></h2>
        </div>

        <div class="row">
        @for (league of leagues; track $index) {
          <div class="col-6 mt-3 text-center" (click)="selectLeague(league)">
            <img class="leagueImage" [ngClass]="{'leagueImageUnselected': !this.selectedLeagues.includes(league)}" [src]="images.getRouteImageLeagueSm(league)">
          </div>
        }
      </div>
      </div>
    </div>
    @if (selectedSeason.id == seasons[0].id) {
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="text-center d-flex">
            <h2 class="m-auto"><u>Last played</u></h2>
          </div>
          @for (match of filterStartedRealMatches(); track $index) {
            <div class="matchCardAdapter matchCardAdapterTwoColumns">
              <app-real-match-card [match]="matchParser.realMatchToMatch(match, findRealMatchInMatches(match.fixture.id))"
              [watched]="findRealMatchInMatches(match.fixture.id) !== undefined"
              [locations]="locations"></app-real-match-card>
            </div>
          }
        </div>
        <div class="col-12 col-lg-6">
          <div class="text-center d-flex">
            <h2 class="m-auto"><u>Next matches</u></h2>
          </div>
          @for (match of filterNotStartedRealMatches(); track $index) {
            <div class="matchCardAdapter matchCardAdapterTwoColumns">
              <app-real-match-card [match]="matchParser.realMatchToMatch(match, findRealMatchInMatches(match.fixture.id))"
              [watched]="findRealMatchInMatches(match.fixture.id) !== undefined"
              [locations]="locations"></app-real-match-card>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="row">
        <div class="col-12 col-lg-6">
          @for (match of filterHalfRealMatches(showRealMatches, 0); track $index) {
            <div class="matchCardAdapter matchCardAdapterTwoColumns">
              <app-real-match-card [match]="matchParser.realMatchToMatch(match, findRealMatchInMatches(match.fixture.id))"
              [watched]="findRealMatchInMatches(match.fixture.id) !== undefined"
              [locations]="locations"></app-real-match-card>
            </div>
          }
        </div>
        <div class="col-12 col-lg-6 mt-4">
          @for (match of filterHalfRealMatches(showRealMatches, 1); track $index) {
            <div class="matchCardAdapter matchCardAdapterTwoColumns">
              <app-real-match-card [match]="matchParser.realMatchToMatch(match, findRealMatchInMatches(match.fixture.id))"
              [watched]="findRealMatchInMatches(match.fixture.id) !== undefined"
              [locations]="locations"></app-real-match-card>
            </div>
          }
        </div>
      </div>
    }

  </div>

}