@media only screen and (max-width: 768px) {
  .matchCardAdapter {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .matchCardAdapter {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .matchCardAdapter {
    width: 50%;
  }
}

.matchCardAdapter {
	margin: 1% auto;
}

.informationColumn {
  background-color: #FFE4E1; 
  border-radius: 0 0 30px 30px; 
  height: fit-content; 
  padding: 2%;
}

.centralTeamInformation {
  padding: 2%;
}

.teamImage {
  width: 150px;
  margin: auto;
}

.teamNameText {
  margin: 2% auto;
}

.informationTable {
  width: fit-content; 
  margin: auto;
}

.tableCol {
  padding: 8px;
}

.competitionsRow {
  margin: 5% auto;
}

.leagueImage {
  height: 50px; 
  width: fit-content; 
  margin: auto;
}

/* Color the odd rows of the table */
tr:nth-child(odd) {
  background-color: #D6EEEE;
}
