@media only screen and (max-width: 768px) {
  .matchCardAdapter {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .matchCardAdapter {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .matchCardAdapter {
    width: 50%;
  }
}

.matchCardAdapter {
	margin: 1% auto;
}

.paginationDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.noMatches {
  text-align: center;
  margin-top: 4%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}