<div class="container">

  <!-- Hero Section -->
  <app-hero-section [userStats]="userStats" [userStatsLoaded]="userStatsLoaded"></app-hero-section>

  <nav class="nav-class">
    <div class="nav nav-tabs d-md-none" id="nav-tab" role="tablist">
      <button class="nav-link" id="nav-stats-tab" data-bs-toggle="tab" data-bs-target="#nav-stats" type="button" role="tab" aria-controls="nav-stats" aria-selected="true">Stats</button>
      <button class="nav-link active" id="nav-matches-tab" data-bs-toggle="tab" data-bs-target="#nav-matches" type="button" role="tab" aria-controls="nav-matches" aria-selected="false">Matches</button>
      <button class="nav-link" id="nav-filters-tab" data-bs-toggle="tab" data-bs-target="#nav-filters" type="button" role="tab" aria-controls="nav-filters" aria-selected="false">Filters</button>
    </div>
  </nav>
  <div class="tab-content row m-auto" id="nav-tabContent">
    <div class="tab-pane fade show col-md-3 col-12" id="nav-stats" role="tabpanel" aria-labelledby="nav-home-tab">
      
      <!-- Left column: Stats information column -->
      @if (this.statsLoaded && stats.teamsViewed.length > 0) {
        <div class="statsColumn">
          <div class="text-center">
              <app-team-stats-list [teams]="stats.teamsViewed" />
            <br>
          </div>
        </div>
      } @else if (!this.statsLoaded) {
        <div class="spinner">
          <mat-spinner />
        </div>
      }

    </div>
    <div class="tab-pane fade show active col-md-6 col-12" id="nav-matches" role="tabpanel" aria-labelledby="nav-profile-tab">
      
      <!-- Center column: Matches -->
      @if (this.matchesLoaded && this.matches.length > 0) {
        <!-- Iterate the matches filtered array -->
        @for (match of matchesFiltered; track $index) {
          <div class="matchCardAdapter">
            <app-real-match-card [match]="match" [watched]="true" [locations]="locations" />
          </div>
        }

        <!-- Pagination -->
        <div class="paginationDiv">
          <app-pagination [elements]="this.matches" [elementsPerPage]="10" [(elementsFiltered)]="this.matchesFiltered" />
        </div>
      } @else if (this.matchesLoaded && this.matches.length == 0) {
        <div class="noMatches">
          <h1>No matches found</h1>
        </div>
      } @else if (!this.matchesLoaded) {
        <div class="spinner">
          <mat-spinner />
        </div>
      }

    </div>
    <div class="tab-pane fade show col-md-3 col-12" id="nav-filters" role="tabpanel" aria-labelledby="nav-contact-tab">
      
      <!-- Right column: -->
      <div class="filterBadge">
        <ng-icon name="jamFilterF"></ng-icon>
      </div>


      <!-- Right column: Filter panel -->
      <div class="filterPanel">

        <!-- Filter team selection row -->
        <div class="row">
          <div class="d-contents">
            <mat-chip class="filterPanelChip" [ngClass]="{'filterPanelChipSelected': filterPanelChipSelected == 0}"
              (click)="changeFilterPanelChipSelected(0)">
              All
            </mat-chip>
          </div>
          <div class="d-contents">
            <mat-chip class="filterPanelChip" [ngClass]="{'filterPanelChipSelected': filterPanelChipSelected == 1}"
              (click)="changeFilterPanelChipSelected(1)">
              Clubs
            </mat-chip>
          </div>
          <div class="d-contents">
            <mat-chip class="filterPanelChip" [ngClass]="{'filterPanelChipSelected': filterPanelChipSelected == 2}"
              (click)="changeFilterPanelChipSelected(2)">
              Nations
            </mat-chip>
          </div>
        </div>

        <!-- Filter league selection row -->
        <div class="row mt-4">
          <div class="col-3 p-1">
            <div class="leagueFilterSelectorDiv" (click)="changeFilterLeagueSelected(39)"
              [ngClass]="{'leagueFilterSelectorDivSelected': filterLeagueSelected.includes(39)}">
              <img class="img-fluid p-1 imgTeamIcon" [ngSrc]="images.getRouteImageLeague(39)" alt="Premier League" width="40" height="40" priority="false">
            </div>
          </div>
          <div class="col-3 p-1">
            <div class="leagueFilterSelectorDiv" (click)="changeFilterLeagueSelected(140)"
              [ngClass]="{'leagueFilterSelectorDivSelected': filterLeagueSelected.includes(140)}">
              <img class="img-fluid p-1 imgTeamIcon" [ngSrc]="images.getRouteImageLeague(140)" alt="La Liga" width="40" height="40" priority="false">
            </div>
          </div>
          <div class="col-3 p-1">
            <div class="leagueFilterSelectorDiv" (click)="changeFilterLeagueSelected(141)"
              [ngClass]="{'leagueFilterSelectorDivSelected': filterLeagueSelected.includes(141)}">
              <img class="img-fluid p-1 imgTeamIcon" [ngSrc]="images.getRouteImageLeague(141)" alt="La Liga 2" width="40" height="40" priority="false">
            </div>
          </div>
          <div class="col-3 p-1">
            <div class="leagueFilterSelectorDiv" (click)="changeFilterLeagueSelected(2)"
              [ngClass]="{'leagueFilterSelectorDivSelected': filterLeagueSelected.includes(2)}">
              <img class="img-fluid p-1 imgTeamIcon" [ngSrc]="images.getRouteImageLeague(2)" alt="Champions League" width="40" height="40" priority="false">
            </div>
          </div>
        </div>

        <div class="row mt-4">

          <!-- Season select form in Top Leagues view -->
          <form class="formLeagues">
            <mat-form-field class="w-100">
              <mat-label>Season</mat-label>
              <mat-select name="seasonSelect" [(ngModel)]="filterSeasonSelected" (selectionChange)="changeFilterSeasonSelected(filterSeasonSelected)">
                @for (season of seasons; track $index) {
                  <mat-option [value]="season">{{season.text}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </form>

        </div>

      </div>


      <!-- Ready to implement the filter panel with expansion hover

          <mat-expansion-panel 
            #panel
            hideToggle="true"
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
            (mouseenter)="panel.open()"
            (mouseleave)="panel.close()"
            class="filterPanelExpanded"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>                   
                <ng-icon name="jamFilterF"></ng-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel> -->

    </div>
  </div>

</div>